<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1> Lyft Interview </h1>
            <p> Chris Valente </p>
        </div>
        <label for="string_header">Enter string to cut: </label>
        <input class="" type="text" id="string_field">
        <br><br>
        <button class="btn btn-success" onclick="apiFunction()"> Generate Response </button>
        <br>
        <hr style="width: 100%; text-align: left; margin-left: 0">
        <hr style="width: 100%; text-align: left; margin-left: 0">
        <div id="bulk_result" style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 10px;">
        </div>
</body>

<script>
    function apiFunction() {
        let string_to_cut = document.getElementById('string_field').value;
        let returnString = '';
        if (string_to_cut.length < 3) {
            console.log('Error - string should be at least 3 characters!');
        }
        else {
            for (let i = 2; i < string_to_cut.length; i += 3) {
                returnString += string_to_cut[i];
            }
            // returnString works now
            let resultSec = document.getElementById('bulk_result');
            let element = document.createElement('result');
            element.setAttribute('class', 'btn btn-primary');
            element.innerText = returnString;
            resultSec.appendChild(element);
        }
    }
</script>